{% extends 'main/nav_bar.html' %}
{% load static %}

{% block params %}
    <title>Восстановление пароля</title>
    <link href="{% static 'users/css/password_reset.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1>Восстановление пароля</h1>

        <!-- Отображение сообщений об ошибках -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="auth-section">
            <form class="auth-form" method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <div class="auth-groups">
                    <div class="form-group">
                        <label for="username">Имя пользователя:</label>
                        <input type="text" id="username" name="username" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Почта:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                </div>
                <div class="auth-buttons">
                    <button type="submit" class="auth-button">Отправить</button>
                    <button type="button" class="auth-button" onclick="window.location.href='{% url 'entrance' %}'">Назад</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}