<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'turtleapp/css/nav_bar.css' %}" rel="stylesheet" type="text/css"/>
    {% block params %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{% url 'main' %}"
                   class="nav-link {% if request.path == '/' %}active{% endif %}">Главная</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'lessons' %}"
                   class="nav-link {% if request.path == '/lessons' %}active{% endif %}">Уроки</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'playground' %}"
                   class="nav-link {% if request.path == '/playground' %}active{% endif %}">Песочница</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'entrance' %}"
                   class="nav-link {% if request.path == '/entrance' %}active{% endif %}">Профиль</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>